$text-color:#f4f0f7;

body {
    background-color:rgb(40, 2, 75);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    h1 {
        color:$text-color;

        span {
            color:rgb(228, 219, 47);
        }
    }
}

.board {
background-color: rgb(40, 2, 75);
display: flex;
width:600px;
height: 600px;
justify-content: center;
margin-bottom: 15px;

}

.reset{
    background-color:  rgb(68, 24, 109);
    color:$text-color;
    border: none;
    font-size: 36px;
    padding: 15px 100px 15px 100px;
    border-radius: 30px;
    transition: 0.3s;
    &:hover{
        background-color:  rgb(82, 34, 126);
        cursor: pointer;
        transition: 0.3s;
    }
}
.boxes{
    display: flex;
    height:190px;
    width:190px;
    background-color: rgb(77, 36, 116);
    border:4px solid rgb(40, 2, 75);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    img {
        margin:5px
    }
    &:hover {
        background-color: rgb(99, 50, 144);
        transition: 0.3s;
    }
}
